:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #232323;
  --bg-secondary: #141418;
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}
.nav-link:hover {
  background-color: black;
  transition: background-color 200ms ease-in-out;
}
.link-text {
  display: none;
  margin-right: 1rem;
  font-family: "Quicksand";
}
.nav-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo img {
  transform: rotate(270deg);
  transition: transform 400ms ease;
}

.navbar:hover .logo img {
  transform: rotate(450deg);
  transition: transfrom 400ms ease;
}
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 100;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
    z-index: 100;
  }
  .navbar:hover .link-text {
    display: block;
  }
}
