@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
body {
  background-color: rgb(61, 60, 60);
}
.page-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}
@media (max-width: 1000px) {
  .page-title {
    font-size: 6.4vw;
  }
}
